.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .carousel-image {
    max-width: 50%;
    border-radius: 10px;
 
  }