.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-section {
  width: 100%; /* Navbar takes full width */
}

.data-section {
  display: flex;
  width: 100%;
}

.data-rendered-section {
  flex: 1; /* Data rendered section takes remaining space */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust to render 4 images per row */
  grid-gap: 20px; /* Add gap between grid items */
  gap: 20px;

  
}

.filter-menu-section {
  width: 20%; /* Set width for filter menu */
  padding: 20px;
  display: flex;
  flex-direction: row;
   /* Add padding as needed */
}


.item-image { 
  border-bottom: 1px solid #ccc;

}

.item-name,
.item-price { 
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
